*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: beige;
    height: auto;
}

/* Background decoration */

body {
    background-color: black;
    min-height: 100vh;

}

/* Navigation section */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    order: 1;
}


.Logo{
    list-style-type: none;  
    order: 3;
    cursor: pointer; 
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    margin-left: 25px;
    padding: 10px;
    box-shadow: 0 10px 20px -5px #fff;
}

/* Header */

header{
    margin-left: 250px;
    margin-right: 300px;
}

.header-section{
    justify-content: center;
    align-items: center; 

}


.header-left{
    padding: 35px;
    margin-right: 50px;
    max-width: 50vw; 
    margin-bottom: 100px;
}


.h1{
  font-size: 3vw;

}

.h2{
  font-size: 1.5vw;

}

h1{
    font-weight: 200;
    text-decoration: none;
    background: linear-gradient(to right, #CCC 50%, #d26156 50% , #f23535);
    background-size: 200% ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

h1:hover{
    background-position: -100%;
}

.hoverme{ 
    margin-top: 30px;
    width: 20vw;
    height: 60vh;
    background-image: url(Images/static\ image.png);
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 20px -5px #fff;

}

.hoverme:hover{
    background-image: url(Images/Thats\ me.gif);
}


.header-left h1{
    margin-top: 20px;
}

.container{
    display: flex;
    justify-content: right;
    align-items: end;
}


/* About section */

.About-container{
  margin-top: 65px;
  margin-left: 250px;
  margin-right: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center; 

}

.Right-side{
  margin-left: 60px;
}


.pic{
  margin-top: 30px;
  width: 26vw;
  height: 60vh;
  background-image: url(Images/2nd\ pic.png);
  background-size: cover;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 10px 20px -5px #fff;}


/* Third Section/ Gallery */

.Gallery-container{  
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  /* background: linear-gradient(to right, #a2efec, #42b6e3); */
}

/* .left-text{
  flex-basis: 30%;
} */

.gallery{
  flex-basis: 70%;
}

/* .heading{
  font-size: 3rem;
  color: rgb(41, 37, 37);
} */

/* .sub-heading{
  color: rgb(19, 17, 17);
  margin-top: 10px;
} */

.gallery{
  flex-basis: 70%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: 150px;
}

.box{
  background-size: cover;
  background-position: top;
  /* color: white; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(19, 17, 17); */
  /* background-blend-mode: hard-light; */
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.box:hover{
  /* background-color: #999; */
  background-position: center;
  /* box-shadow: 0 0 4px white; */

}

.row-2{
  grid-row: span 2;
}

.col-2{
  grid-column: span 2;
}

@media screen and (max-width: 1024px) {
  #heading{
      text-align: center; 
  }

  .container{
      flex-direction: column;
      padding-block: 20px;
  }

  .gallery{
      width: 100%;
      padding-inline: 12px;
      grid-auto-rows: 220px;
  }

  .box{
      grid-row: span 1;
      grid-column: span 3;
  }
  
}


/* Form section */
.contactme{
    margin-top: 100px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
  
    width: 300px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
  
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
    border: solid 2px white;
  } 
  
  button {
    margin-left: 0.5em;
  }
  





