@import url('https://fonts.googleapis.com/css2?family=Seymour+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    background-color: #04151F;
    color: beige;
    height: auto;
}

/* Background decoration */

body {
    background-color: #04151F;
    min-height: 100vh;

}

/* Navigation section */
nav{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    order: 1;
}



.Logo{
    list-style-type: none;  
    order: 3;
    cursor: pointer; 
    border: solid 2px;
    border-color: black;
    border-radius: 20px;
    margin-left: 25px;
    padding: 10px;
    box-shadow: 0 10px 20px -5px #fff;
}

/* Header */

.container{
  margin-left: 40px;
  background-color: #04151F;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-right: 0px;
}

.text-area{
  background-color: #EFD6AC;
  color: #183A37;
}

.text-area2{
  color: #EFD6AC;
  background-color: #183A37;
}

.header-left{
  background-color: #EFD6AC;
  border: solid 2px #183A37;
  border-radius: 34px;
  color: #183A37;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: solid 2px white;
  padding: 55px;
  margin-left: 25px;
  margin-right: 15px;
}

.header-right{
  background-color: #183A37;
  border: solid 2px #EFD6AC;
  border-radius: 34px;
  padding: 35px;

}

.Prim-color{
  color: #EFD6AC;
}

.h1{
  font-size: 3vw;
  font-family: 'Seymour One', sans-serif;


}


h2, p{
  color: #183A37;
  font-size: 2.2vw;
}

p{
  font-size: 1.5vw;
  color: #183A37;
}

h1{
    font-weight: 200;
    text-decoration: none;
    background: linear-gradient(to right, #183A37 50%, #C44900 50% , #432534);
    background-size: 200% ;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

h1:hover{
    background-position: -100%;
}

.hoverme{ 
    width: 25vw;
    height: 85vh;
    background-image: url(Images/New\ Static\ Image.png);
    background-size: cover;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 10px 20px -5px #EFD6AC;

}

.hoverme:hover{
    background-image: url(Images/Updated.gif);
}


/* Skills section */

.skills-section{
  border: 2px solid #EFD6AC;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 80px ;
  margin-left: 75px;
  margin-right: 75px;
  height: fit-content;
}



.skills{
  border: 2px ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Third Section/ Gallery */

.Gallery-container{  
  margin-top: 80px;
  min-height: 10vh;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}


.gallery{
  flex-basis: 70%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 2fr);
  grid-auto-rows: 250px;
}

.box{
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.box:hover{
  background-position: enter;

}

.row-2{
  grid-row: span 2;
}

.col-2{
  grid-column: span 3;
}

@media screen and (max-width: 1024px) {
  #heading{
      text-align: center; 
  }

  .container{
      flex-direction: column;
      padding-block: 20px;
  }

  .gallery{
      width: 100%;
      padding-inline: 12px;
      grid-auto-rows: 220px;
  }

  .box{
      grid-row: span 1;
      grid-column: span 3;
  }
  
}


/* Form section */
.contactme{
    margin-top: 100px;
}

form {
    margin: 0 auto;
    width: 400px;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
  
    width: 300px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
  
    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
    border: solid 2px white;
  } 
  
  button {
    border-radius: 10px;
    margin-left: 0.5em;
  }
  
/* subfooter */
footer{
  margin-top: 40px;
  padding: 20px;
  height: auto;
  width: 100vw;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: #fff;
}

.footer-bottom{
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #EFD6AC;
  font-size: 14px;
  word-spacing: 2px;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}




